body {
    background-color: rgb(0, 36, 81);
    color: rgb(254, 208, 131);
    margin-left: 50%;
    transform: translateX(-50%);
}
footer {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
a {
    color: inherit;
}

#table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.headers {
    font-weight: bold;
    border-bottom: 1px solid rgb(254, 208, 131);
}

.rows{
    border-bottom: 1px dashed rgb(245, 214, 161);
}

/* ADAPTIVE DESIGN */

/* ---------------------------- */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    body {}
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    body {
        width: 80%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    body {
        width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    body {
        width: 50%;
    }
}